body {
  font-family: Roboto, arial, sans-serif;
}
h1 {
  color: #7c7c7c;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  margin: 0;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  height: 19px;
  line-height: 1;
  list-style: none;
  
}
li:first-letter{
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: black;
}
footer {
  text-align: center;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.weather-app {
  border: 1px solid #dadde1;

  padding: 15px;
  border-radius: 10px;
}
.weather-icon {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}
.temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -23px;
}

.search-form {
  margin-bottom: 20px;
}
.kjsfosd {
  margin-left: -55px;
  font-size: 12px;
  font-weight: normal;
  color: #70757a;
}
.lsdijflk {
  text-align: right;
  margin-left: 35px;
}

.weather-temperature .active{
color: #70757a;
cursor: default;
}

.weather-temperature .active:hover{
  text-decoration: none;
  }

.city {
    color: #202124;
    font-size: 22px;
    font-weight: 400;
  }
  
#date,
#description {
  color: #70757a;
  font-size: 16px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 13px;
}
